.header {
	display: flex;
	justify-content: space-between;
	align-items: center;
	margin: 25px 50px;
}

nav button {
	margin-left: 50px;
}

.LandingHeaderBtn:hover {
  transform: scale(1.2);
  border-color: #ff64dd;
}


.header-brand {
  display: flex;
  align-items: center;
  gap: 10px
}